body {
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    /*outline: .1rem solid black; !*Use for debugging, remove it when you want to see how page looks normally. *!*/
}

.container {
    width: 76rem;
    height: 26rem;
    margin: auto;
    margin-top:3rem;
    position : relative;
    /*background: linear-gradient(to right,aqua,rgb(125, 14, 80));*/
    outline: .1rem solid black;
    /*outline-offset: 1rem;*/
}

.submitWord {
    position: absolute;
    bottom: 30%;
    width: 50%;
    left: 25%;
}

.textbox {
    width: 75%;
    font-size: 1.5rem;
}

.submitbtn {
    width: 20%;
    font-size: 1.5rem;
    font-weight: lighter;
}

.text {
    position: absolute;
    margin: auto;
    font-size: 1.5rem;
    left: 15%;
    top: 10%;
    right: 15%;
}

.text > p {
    font-size: 1rem;
}

.results {
    color: green;
    position: relative;
    font-size: 1rem;
    margin: auto;
    width: 76rem;
    height: 25rem;
    margin-top: 1rem;
    outline: .1rem solid black;
}

.table {
    position: absolute;
    font-size: 1.3rem;
    top: 10%;
    left: 35%;
}

th, td {
    padding: .4rem;
}

.table > p {
    margin-bottom: 1rem;
    text-align: center;
    text-decoration-line: underline;
}